body {
    margin:0;
    font-family: arial;
  }

  .navigation{
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.25;
    background-color:black;
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: 900;
    height: 140px;
    z-index: 999;
 
  }

  .navigation li {
    display: inline-block;
    color: #4A4A4A;
    }
  

  
  .navigation a {
    display: flex;
    color: #4A4A4A;
    padding: 30px 50px;
    margin: 15px 30px 0px 30px;
    text-decoration: none;
  }
  .navigation a:hover{
    background: white;
  }

  .gd{
    background-color:white;
    border: 2px solid white;
    background:cover;
  }
  .gd-1{
    margin:200px 0px 50px 200px;
  }
  .gd-2{
      margin-left:600px;
  }
  .gd-4{
      margin-left:800px;
  }
  h4{
    color: #696969;
    size: 200px;
    margin: 1500px;
   
  }
img{
    height:600px;
    
}