/* CSS files add styling rules to your content */

body {
    margin:0;
    font-family: arial;
  }
  
  .project-grid{
    display: flex;
   justify-content: row;
    flex-wrap: wrap;
    
    
    /* display: flex;
      flex-direction:  row; row-reverse; column;  column-reverse;
      flex-wrap: wrap;
      justify-content:  flex-start; flex-end; center; space-around; space-between;
      overflow: scroll;
      flex-basis: 50px;
      flex-wrap: nowrap; wrap;
      align-self: start;
    */
  }

  .navigation{
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.25;
    background-color:black;
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: 900;
    height: 140px;
    z-index: 999;
 
  }

  .navigation li {
    display: inline-block;
    color: #4A4A4A;
    }
  

  
  .navigation a {
    display: flex;
    color: #4A4A4A;
    padding: 30px 50px;
    margin: 15px 30px 0px 30px;
    text-decoration: none;
  }
  .navigation a:hover{
    background: white;
  }



.header-home{
 
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 1600px;
  overflow: scroll;
  text-align:center;
 
  background-image: url(resources/floating.png);
  background: cover;
  margin-top:140px;
}


  .header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 1600px;
    overflow: scroll;
    text-align:center;
    padding: 150px ;
    
    
    background-image: url(resources/dinosaur-3.png);
    background: cover;
  }
  
  h1{
   
    color: white;
    size: 200px;
    border: 2px solid red;
    margin-bottom: 800px;
    background-color: red;
    padding: 20px 60px;

  }
.gallery{
  text-align: center;
  margin-bottom: 200px;
}
  img{
    height:1200px;
    text-align:center;
    padding:100px;
  }
  .w{
    height:800px;
    text-align:center;
    padding:100px;

  }
  .content{
    width: 800px;
    height: 800px;
    text-align: center;
    overflow:scroll;
    margin: 0 auto;
    padding-bottom:200px;
  }
  h2{
    color: red;
    margin:40px;
    padding: 30px;
  }
  p {
    color: black;
    font-size: 16px;
    line-height: 48px;
    text-align:center;
    padding: 10px 20px;
  }
  h3{
    color:black;
    text-align:center;
    margin-top:100px;
  }
  .byline {
    border-bottom: 1px solid LightGrey;
    border-top: 1px solid LightGrey;
    color: DarkGrey;
    font-size: 14px;
    font-weight: 200;
  }
  
  
  .project{
    
    height: 400px;
    color: white;
    display: flex;
    justify-content: column;
    flex-wrap: wrap;
    background-size: cover;
    flex-basis:25%;
    
    
  }
  
  .overlay{
    background-color:white;
    height: 100%;
    width:100%;

    opacity:0;
    transition: opacity .2s ease-in;
  }
  
  .overlay:hover{
    opacity:.3;
  }

  .video{
    margin-top:200px;

    text-align: center;
  }
  .padding{
    margin:50px;
  }
  .contact{
    margin-top:300px;
   
  }
  a{
    text-decoration: none;
  }
  h3{
   
    color: black;
  }
  
  /*.project h3{
    margin:0;
    transform: translateY(-50px);
    transition: transform .3s ease-out;
  }
  .overlay: hover h3{
    transform: translateY(0);
  }
   */

  .project-1{
   
    background-image:url(resources/dinosaur.png);
   
  }
  .project-2{
   
    background-image:url(resources/dinosaur-3.png);
   
  }
  .project-3{
   
    background-image:url(resources/fishtank.png);
   
  }
  .project-4{
   
    background-image:url(resources/for\ the\ love\ of\ eternity.png);
   
  }
  .project-5{
   
    background-image:url(resources/floating.png);
  
  }
  .project-6{
   
    background-image:url(resources/alien-4.png);
   
  }
  .project-7{
   
    background-image:url(resources/diamondfrature-6.png);
   
  }
  .project-8{
   
    background-image:url(resources/black-diamond.png);
   
  }
  
  .big{
    
    background-color: black;
    
  }